*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
span{
    display: inline-block;
}
body{
    text-align: center;
}
.button{
    margin: 100px auto 100px;
    width: 50px;
    height: 50px;
    border: solid black 2px;
    border-radius: 50%;
}
@media (max-width:480px){
    .button{
        margin: 50px auto;
        width: 30px;
        height: 30px;
    }
}
h1{
    margin-top: 50px;
    margin-bottom: 20px;
}
@media (max-width:480px){
    h1{
       text-align: center;
        font-size: 18px;
        padding: 0;
    }
    h2{
        text-align: center;
        font-size: 15px;
    }
}
h2{
    margin-bottom: 0;
}
h1, h2{
    color: brown;
}
#black{
    background: black;
}
#blue{
    background: blue;
}
#green{
    background: green;
}
#pink{
    background: pink;
}
#red{
    background: red;
}

#black, #blue, #green, #pink, #red{
    cursor: pointer;
}
.slide-left, h1{
    animation: slide 1s linear forwards;
}
@keyframes slide{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
.slide-left{
    animation-delay: 1s;
}
@media (max-width: 480px){
    body{
        width: 100%;
    }
}